<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>Blogs</title>
  </head>
  <body>
    
    <div class="container my-4">
        <p class="fs-2 mb-3">All blogs</p>


        <% blogposts.forEach(function(item) { %>
            <div class="shadow rounded p-4 my-4">
                <p class="fs-5"><%= item.title %></p>
                <p class="fw-bold"><%= item.username %></p>
                <!--p>%= item.date.getDate() %>.%= item.date.getMonth()+1 %>.%= item.date.getFullYear() %></p-->
                <p><%= item.date %></p>
                <a class="btn btn-primary" href="/blog/<%= item.id %>">See post</a>
            </div>
          <% }); %>

        <a class="btn btn-primary my-3" href="/blog/newPost">Create a new blog!</a>
    </div>


  </body>
</html>
