<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>Blogs</title>
  </head>
  <body>
    
    <div class="container my-4">
        <p class="fs-2 mb-3"><%= blog.title %></p>
        <p class="">Username: <b><%= blog.username %></b></p>
        <div class="container rounded border border-secondary p-3">
          <p><%= blog.date %></p>
          <p class="mt-4"><%= blog.text %></p>
        </div>
        <a class="btn btn-primary my-3" href="/blog/">Go back to all blogs</a>
    </div>

    </div>


  </body>
</html>
