<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>Person Formular</title>
</head>
<body>
    <h1>Formular</h1>
    <div>
        <form action="/newPerson" method="get">
            <label for="lastNameInput">Last Name</label>
            <input type="text" name="lastName" id="lastNameInput"/>
            <label for="firstNameInput">First Name</label>
            <input type="text" name="firstName" id="firstNameInput"/>
            <label for="residenceInput">Residence</label>
            <input type="text" name="residence" id="residenceInput"/>
            <label for="postInput">Post Code</label>
            <input type="text" name="post" id="postInput"/>
            <label for="streetInput">Street</label>
            <input type="text" name="street" id="streetInput"/>
            <label for="houseNumberInput">House Number</label>
            <input type="text" name="houseNumber" id="houseNumberInput"/>
            <label for="emailInput">E-Mail Address</label>
            <input type="email" name="email" id="emailInput"/>
            <label for="birthdayInput">Birthday</label>
            <input type="date" name="birthday" id="birthdayInput"/>

            <input type="submit" value="Send"/>
        </form>
    </div>
</body>
</html>