<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>Person Formular</title>
</head>
<body>
    <div class="container">
        <h1>Formular</h1>
        <div>
            <form action="/newPerson" method="get">
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input type="text" class="form-control" name="name" id="nameInput" required>
                </div>
                <div class="form-group">
                    <label for="surnameInput">Surname</label>
                    <input type="text" class="form-control" name="surname" id="surnameInput" required>
                </div>
                <div class="form-group">
                    <label for="residenceInput">Residence</label>
                    <input type="text" class="form-control" name="residence" id="residenceInput" required>
                </div>
                <div class="form-group">
                    <label for="postcodeInput">Post Code</label>
                    <input type="text" class="form-control" name="postcode" id="postcodeInput" required>
                </div>
                <div class="form-group">
                    <label for="streetInput">Street</label>
                    <input type="text" class="form-control" name="street" id="streetInput" required>
                </div>
                <div class="form-group">
                    <label for="houseNumberInput">Number of House</label>
                    <input type="text" class="form-control" name="houseNumber" id="houseNumberInput" required>
                </div>
                <div class="form-group">
                    <label for="emailInput">Email</label>
                    <input type="email" class="form-control" name="email" id="emailInput" required>
                </div>
                <div class="form-group">
                    <label for="birthdayInput">Birthday Date</label>
                    <input type="date" class="form-control" name="birthday" id="birthdayInput" required>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</body>
</html>


